.check-item {
    text-indent: -2em;
    margin-left: 2em;
}

.check-item > input {
    margin-right: 0.6em;
}

* {
    font-family: 'Calibri', Arial, sans-serif;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 17px;
}

h3 {
    display: none;
}

h4,
h5,
h6 {
    font-size: 15px;
}

p,
li {
    font-size: 14px;
}
